<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <#include "sidebar_parts/sidebar_admin.ftlh">
        <#include "sidebar_parts/sidebar_owners.ftlh">
        <#include "sidebar_parts/sidebar_repairs.ftlh">
        <#include "sidebar_parts/sidebar_repairs_search.ftlh">
        <#include "sidebar_parts/sidebar_repairs_create.ftlh">
        <#include "sidebar_parts/sidebar_logout.ftlh">
    </div>
</nav>