<#import "/spring.ftl" as spring />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/dashboard.css">
</head>
<body>
<#include "partials/navbar.ftlh">
<div class="container-fluid">
    <div class="row">
        <#include "partials/sidebar_admin_home.ftlh">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h3 class="mb-3">Repairs</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Cost</th>
                        <th>Address</th>
                        <th>Owner's tax registry number</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#if repairs??>
                        <#list repairs as repair>
                            <tr data-id="${repair.id}">
                                <td>${repair.date}</td>
                                <td>${repair.status}</td>
                                <td>${repair.fixType}</td>
                                <td>${repair.cost}€</td>
                                <td>${repair.address}</td>
                                <td>${repair.ownerTaxRegistryNumber}</td>
                                <td>${repair.description}</td>
                            </tr>
                        </#list>
                    </#if>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<#include "partials/scripts.ftlh">
</body>
</html>