<#import "/spring.ftl" as spring />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search owners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../css/dashboard.css">
</head>
<body>
<#include "partials/navbar.ftlh">
<div class="container-fluid">
    <div class="row">
        <#include "partials/sidebar_owners_create_search.ftlh">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <form class="form-inline mb-3" action="/admin/ownersSearch" method="post">
            <label class="sr-only"  for="taxRegistryNumber">Tax Registry Number</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span data-feather="user"></span></span>
                </div>
                <input  type="text"  class="form-control" id="taxRegistryNumber" placeholder="Tax Registry Number" name="taxRegistryNumber">
            </div>
            <label class="sr-only" for="email">Tax Registry Number</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span data-feather="mail"></span></span>
                </div>
                <input type="text" class="form-control" id="email" placeholder="E-Mail" name="email">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tbody>
                <#if owners??>
                    <#list owners as owner>
                        <tr data-id="${owner.taxRegistryNumber}">
                            <td>${owner.firstName}</td>
                            <td>${owner.lastName}</td>
                            <td>${owner.address}</td>
                            <td>${owner.email}</td>
                            <td>${owner.address}</td>
                            <td>${owner.phoneNumber}</td>
                            <td>${owner.type}</td>
                            <td>${owner.role}</td>
                            <td class="text-center"><a href="/admin/owners/${owner.taxRegistryNumber}/edit"><span data-feather="tool"></span></a></td>
                            <td class="text-center"><button class="btn btn-link" data-toggle="modal" data-target="#modal" data-id="${owner.taxRegistryNumber}"><span data-feather="x"></span></button></td>
                        </tr>
                    </#list>
                </#if>
                </tbody>
            </table>
            <div class="modal" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Owner</h5>
                            <button type="submit" class="btn btn-primary mb-2">search</button>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" id="deleteFormRepair">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>
</div>

</form>
    </div>
</div>
<#include "partials/scripts.ftlh">
<script src="./../js/form.js"></script>
</body>
</html>