<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/about_us">
            <span data-feather="info"></span>
            About Us <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>