<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/admin/ownersSearch">
            <span data-feather="search"></span>
            Search for owners
        </a>
    </li>
</ul>