<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/admin/repairs">
            <span data-feather="tool"></span>
            Repairs <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>