<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/repairs">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>